.jumbotron {
    background-image: url("../images/throwmomma.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-position: center center;
}

.card {
    margin-top: 2%;
    margin-bottom: 2%;
}

.form-group {
    margin-left: 2%;
    margin-right: 2%;
}

#add-train-btn {
    margin-left: 2%;
    margin-bottom: 2%;
}

body {
    background-image: url("../images/train-track.jpg");
}

.card {
    background: rgb(252, 252, 252, .7);
}

